<!DOCTYPE html>
<html>
  <body>
    <h1>Hi {{name}}!</h1>
    <h2>Please Confirm Your Email</h2>
    <p>Click the link below to confirm your email:</p>
    <a href="{{confirmationUrl}}">Confirm Email</a>
  </body>
</html>